{% extends 'indexapp/base.html' %}

{% block header %}
    {% if request.user.is_authenticated %}
        <p>{{ user.username }}さんがログイン中です  <a href="{% url 'logout' %}">ログアウト</a></p>
    {% endif %}
    <h1>Index TOP</h1>
{% endblock header %}

{% block content %}

<ul>
    <li><a href="{% url 'registration_list' %}">TN原料登録</a></li>
    <li><a href="{% url 'foods_list' %}">TF原料登録</a></li>
    <li><a href="{% url 'sendrequest_list' %}">物品サービス依頼(発信)</a></li>
    <li><a href="{% url 'receiverequest_list' %}">物品サービス依頼(受信)</a></li>
    <li><a href="{% url 'progressnb_list' %}">製作進行NB</a></li>
    <li><a href="{% url 'progresspb_list' %}">製作進行PB</a></li>
    <li><a href="{% url 'roulette_list' %}">GOOD & NEW ルーレット</a></li>
    <li><a href="{% url 'packers' %}">パッカー地図</a></li>
</ul>
{% endblock content %}