{% extends 'indexapp/base.html' %}

{% block header %}
    {% if request.user.is_authenticated %}
        <p>{{ user.username }}さんがログイン中です  <a href="{% url 'logout' %}">ログアウト</a></p>
    {% endif %}
    <h1>TF原料登録index</h1>
{% endblock header %}

{% block content %}
<div class="menu">
    <p class="btn"><a href="{% url 'foods_create' %}">新規作成</a></p>
    <p class="btn"><a href="{% url 'foods_csv' %}">csv出力</a></p>
    <p class="btn"><a href="{% url 'top' %}">TOP</a></p>
</div>
<table>
    <thead>
        <tr class="border">
            <th scope="col">No.</th>
            <th scope="col">コード</th>
            <th scope="col">品名</th>
            <th scope="col">リスト更新</th>
            <th scope="col">詳細</th>
            <th scope="col">編集</th>
            <th scope="col">削除</th>
        </tr>
    </thead>
    <tbody>
        {% for foods in foods %}
        <tr class="border">
            <td>{{ foods.number }}</td>
            <td>{{ foods.code }}</td>
            <td>{{ foods.name }}</td>
            <td>{{ foods.update }}</td>
            <td><a href="{% url 'foods_detail' foods.pk %}">詳細</a></td>
            <td><a href="{% url 'foods_update' foods.pk %}">編集</a></td>
            <td><a href="{% url 'foods_delete' foods.pk %}">削除</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock content %}