{% extends 'indexapp/base.html' %}

{% block header %}
    {% if request.user.is_authenticated %}
        <p>{{ user.username }}さんがログイン中です</p>
    {% endif %}
    <h1>製作進行 詳細</h1>
{% endblock header %}

{% block content %}
<div class="detail">
    <p>No. {{progress.number}}</p>
    <p>コード {{progress.code}}</p>
    <p>品名 {{progress.name}}</p>
    <p>数量 {{progress.quantity}} {{progress.unit}}</p>
    <p>発注日 {{progress.order}}</p>
    <p>希望納期 {{progress.prefer}}</p>
    <p>確定納期 {{progress.fixed}}</p>
    <p>備考 {{progress.description}}</p>
</div>

<p class="btn"><a href="{% url 'progress_list' %}">一覧に戻る</a></p>

{% endblock content %}