{% extends 'indexapp/base.html' %}

{% block header %}
    {% if request.user.is_authenticated %}
        <p>{{ user.username }}さんがログイン中です  <a href="{% url 'logout' %}">ログアウト</a></p>
    {% endif %}
    <h1>物品サービス依頼(受信)index</h1>
{% endblock header %}

{% block content %}
<div class="menu">
    <p class="btn"><a href="{% url 'receiverequest_create' %}">新規作成</a></p>
    <p class="btn"><a href="{% url 'receiverequest_csv' %}">csv出力</a></p>
    <p class="btn"><a href="{% url 'top' %}">TOP</a></p>
</div>
<table>
    <thead>
        <tr class="border">
            <th scope="col">No.</th>
            <th scope="col">依頼元</th>
            <th scope="col">タイトル</th>
            <th scope="col">担当者</th>
            <th scope="col">編集</th>
            <th scope="col">削除</th>
        </tr>
    </thead>
    <tbody>
        {% for receiverequest in receiverequest %}
        <tr class="border">
            <td>{{ receiverequest.number }}</td>
            <td>{{ receiverequest.department }}</td>
            <td>{{ receiverequest.title }}</td>
            <td>{{ receiverequest.responder }}</td>
            <td><a href="{% url 'receiverequest_detail' receiverequest.pk %}">詳細</a></td>
            <td><a href="{% url 'receiverequest_update' receiverequest.pk %}">編集</a></td>
            <td><a href="{% url 'receiverequest_delete' receiverequest.pk %}">削除</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock content %}